<script setup>
import { RouterLink } from 'vue-router'
// class="block py-2 pl-3 pr-4 text-white bg-cyan-700 rounded md:bg-transparent md:text-cyan-700 md:p-0 md:dark:text-cyan-500" aria-current="page"
// class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-cyan-700 md:p-0 md:dark:hover:text-cyan-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" aria-current="page"
</script>

<template>
    <body>
        <div class="ingrateBody">
            <nav class="navStyle border-b border-gray-200 dark:border-gray-600">
                <div class="flex justify-between mx-auto p-2">
                    <div class="logo flex items-center">
                        <RouterLink to="/" class="flex items-center">
                            <img src="../../public/logo_ada.svg" class="h-14 mr-3" alt="Logo ADA">
                            <span
                                class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">SIMPARH</span>
                        </RouterLink>
                    </div>
                    
                    <div class="flex items-center justify-center hidden w-full md:flex md:w-auto " id="navbar-sticky">
                        <ul
                            class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                            <li>
                                <RouterLink to="/"
                                    class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-cyan-700 md:p-0 md:dark:hover:text-cyan-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                                    aria-current="page">Inicio</RouterLink>
                            </li>
                            <li>
                                <RouterLink to="/mapa"
                                    class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-cyan-700 md:p-0 md:dark:hover:text-cyan-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
                                    Mapas</RouterLink>
                            </li>
                            <li>
                                <RouterLink to="/graficos"
                                    class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-cyan-700 md:p-0 md:dark:hover:text-cyan-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
                                    Graficos</RouterLink>
                            </li>
                            <li>
                                <RouterLink to="/contacto"
                                    class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-cyan-700 md:p-0 md:dark:hover:text-cyan-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
                                    Contacto</RouterLink>
                            </li>
                            <li>
                                <RouterLink to="/login"
                                    class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-cyan-700 md:p-0 md:dark:hover:text-cyan-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
                                    Login</RouterLink>
                            </li>
                            <li>
                                <RouterLink to="/signup"
                                    class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-cyan-700 md:p-0 md:dark:hover:text-cyan-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
                                    Signup</RouterLink>
                            </li>
                        </ul>
                    </div>
                    <div class="perfil flex items-center justify-end">
                        <RouterLink to="/">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="25" fill="#92bde7">
                                <path
                                    d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
                            </svg>
                        </RouterLink>
                        <div>
                            Nombre Apellido
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </body>
</template>

<style>
.logo {
    
}
.navStyle {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 999;
}

.perfil {
    padding: 15px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    border-left: 2px solid #92bde7;
    padding-right: 5px;
}

.perfil .svg
{
    border-radius: 50%;
    border: 2px solid #92bde7;
    margin: 2px;
}

.perfil:hover {
    transform: scale(1.1);
}
</style>